body {
    background-color: white;
}
textarea:focus, input:focus{
    outline: none;
}
.iphone_4s_device {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 900px;
    height: 1600px;
    background: url('../img/iphone_image.png');
    background-repeat: no-repeat;
    zoom: 50%;
}
.iphone_4s_veil {
    position: absolute;
    top: -1px;
    left: 0px;
    width: 640px;
    height: 960px;
    background-color: black;
    z-index: 10;
    opacity: 0.8;
    display: none;
}
#sliding_frame {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 640px;
    height: 48px;
}
#iphone_4s_veil_text {
    position: absolute;
    text-align:center;
    font-size: 40pt;
    top: 300px;
    left: 0px;
    width: 640px;
    height: 48px;
	color: white;
}
#iphone_4s_spinner {
    position: absolute;
    top: 340px;
    left: 220px;
    width: 200px;
    height: 200px;
}
.toolbar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 88px;
    background-image:url('../img/toolbar_background.png');
    background-repeat:repeat-x;
}
.toolbar_text {
    position: absolute;
    text-align:center;
    font-size:40pt;
    line-height:44px;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 98px;
    z-index: 2;
}
.toolbar_back_button {
    position: absolute;
    text-align:center;
    font-size:24pt;
    line-height:44px;
    top: 20px;
    left: 15px;
    width: 100px;
    height: 44px;
    border-radius: 10px;
    border-width:1px;
    border-style:solid;
    border-color: gray;
    display: none;
    z-index: 5;
}
.tab_menu {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 98px;
    background-image:url('../img/tab_menu.png');
    background-repeat:repeat-x;
}
.tab_menu_text {
    position: absolute;
    text-align:center;
    font-size:24pt;
    color: white;
    top: 15px;
    left: 0px;
    width: 100%;
    height: 40px;
}
.iphone_4s_display {
    position: absolute;
    top: 301px;
    left: 127px;
    width: 640px;
    height: 960px;
    /* background-color: green; */
}

.iphone_4s_display_sans_battery_bar {
    position: absolute;
    top: 341px;
    left: 127px;
    width: 640px;
    height: 920px;
    background: url('../img/background.jpg');
}

.button {
    margin: 0 auto ;
    width: 146px;
    height: 145px;
    background: url('../img/button.png');
    background-repeat: no-repeat;
    zoom: 200%;
}
.placeholder_text {
    position: absolute;
    font:24px arial, sans-serif;
    top: -18px;
    left: 10px;
    width: %100;
    height: 40px;
}
#placeholder {
    position:absolute;
    top:20px;
    width:500px;
    height:200px;
    background-color:white;
    display: none;
}

.text_field {
    position:absolute;
    top: -22px;
    left: 5px;
    width: 420px;
    height: 60px;
    line-height:60px;
	font-size: 24pt;
}

.search_botton {
    position:absolute;
    top: -18px;
    right: -18px;
    width: 60px;
    height: 60px;
    background-image:url('../img/search-button-without-text-md.png');
}
